<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/inventory?useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <!--<property name="show_sql">true</property>-->
    <!--<property name="format_sql">true</property>-->
    <mapping class="cn.db.inventory.model.Goods"/>
    <mapping class="cn.db.inventory.model.GoodsType"/>
    <mapping class="cn.db.inventory.model.Retrieval"/>
    <mapping class="cn.db.inventory.model.Storage"/>
    <mapping class="cn.db.inventory.model.Supplier"/>
    <mapping class="cn.db.inventory.model.User"/>
  </session-factory>
</hibernate-configuration>